doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.core.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.arrow.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.autocomplete.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.clear.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.focus.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.prompt.css")
    link(rel="stylesheet", type="text/css", href="scripts/textext/css/textext.plugin.tags.css")
    link(rel="stylesheet", type="text/css", href="css/dropzone.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="scripts/textext/js/textext.core.js")
    script(src="scripts/textext/js/textext.plugin.ajax.js")
    script(src="scripts/textext/js/textext.plugin.arrow.js")
    script(src="scripts/textext/js/textext.plugin.autocomplete.js")
    script(src="scripts/textext/js/textext.plugin.clear.js")
    script(src="scripts/textext/js/textext.plugin.filter.js")
    script(src="scripts/textext/js/textext.plugin.focus.js")
    script(src="scripts/textext/js/textext.plugin.prompt.js")
    script(src="scripts/textext/js/textext.plugin.suggestions.js")
    script(src="scripts/textext/js/textext.plugin.tags.js")

    script(src="scripts/dropzone.js")
    script(src="scripts/form-functions.js")
    script(src="scripts/upload-multiple.js")
  body
    h1 Upload form multiple

    .success
      | Your file was successfully uploaded!
      a(href="list")
        | See list of assets.

    .error
      | Your file was not uploaded. Please try again.

    form(action="/upload-files-2" class="dropzone" id="my-awesome-dropzone")

    .button.upload-submit
      | Submit

    .submitted
      .button.upload-more
        | Upload More
      .button.home
        | Home

    form.new-asset.invisible(method="post", enctype="multipart/form-data")
      .button(class="new-asset-button")
        | New Asset
      br
      .button(class="updating-asset-button")
        | Updating Asset
      br
      br
      | Title*:
      br
      input(type="text", name="title", class="asset-title")
      br
      br
      | Category*:
      br
      select(name="category", class="category")
        option(val='icon')
          | Icon
        option(val='term')
          | Term
        option(val='font')
          | Font
        option(val='logo')
          | Logo
        option(val='powerpoint')
          | Powerpoint
        option(val='diagram')
          | Diagram
        option(val='persona')
          | Persona
      .definition.hidden
        br
        br
        | Definition*:
        br
        textarea(rows="4", cols="50", class="definition", name="definition")
      .context.hidden
        br
        br
        | Icon Context*:
        br
        select(name="context", class="context")
          option(val='0')
            | UI
          option(val='1')
            | Corporate Site
          option(val='2')
            | General
      br
      br
      | Tags* (Comma Seperated):
      br
      textarea(name="tags", class="asset-tags", id="assettags", rows="1", cols="50")
      br
      br
      | Description:
      br
      textarea(rows="4", cols="50", class="asset-description", name="asset-description")
      .preview-image.hidden
        br
        br
        | Preview Image:
        br
        input(type="file", class="preview-image", name="preview-image")
      br
      br
      | Additional Attachments
      br
      input(type="file", class="attachment", name="attachment" id="1" multiple)
    form.updating-asset.invisible(method="post", enctype="multipart/form-data")
      .button(class="new-asset-button")
        | New Asset
      br
      .button(class="updating-asset-button")
        | Updating Asset
      br
      br
      | What asset are you updating?
      br
      input(type="text", name="search-asset-to-update")
      br
      br
      