.hidden {
  display: none;
}

.button {
  width: 75px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  background: blue;
  color: white;
}

.button:hover {
  cursor: pointer;
  background: black;
}

.success {
  display: none;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  color: white;
  background: green;
}

.error {
  display: none;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  color: white;
  background: red;
}

.asset {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  position: relative;
}

.asset .delete-button {
  position: absolute;
  padding: 5px;
  right: 0;
  top: 0;
  background: black;
  color: white;
}

.asset .delete-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.confirmation-dialog {
  display: none;
  background: white;
  padding: 30px;
  border: 1px solid gray;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.confirmation-dialog .name {
  color: blue;
}

.confirmation-dialog .button {
  margin: 10px auto;
}