.hidden {
  display: none;
}

.button {
  width: 75px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  background: blue;
  color: white;
}

.button:hover {
  cursor: pointer;
  background: black;
}

.success {
  display: none;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  color: white;
  background: green;
}

.error {
  display: none;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  color: white;
  background: red;
}

.asset {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}